<div class="login">
  <div class="login__form" *ngIf="showLogin" [@modalPop]>
    <div class="row">
      <h2>Log In</h2>
    </div>
    <div class="row">
      <p class="error" *ngIf="error">{{error}}</p>
      <p><label>Username<br>
        <input type="text"
              [(ngModel)]="username"
              placeholder="email"
              (keyup.enter)="handleLogin()"></label></p>
      <p><label>Password<br>
        <input type="password"
              [(ngModel)]="password"
              placeholder="********"
              (keyup.enter)="handleLogin()"></label></p>
    </div>
    <div class="row">
      <p class="center-align">
        <button
          class="button button--green button--wide"
          (click)="handleLogin()"
          [disabled]="'' === username || '' === password">
          Log in
        </button>
      </p>
    </div>
  </div>
</div>
