<div class="row"
     *ngIf="0 < parent.value?.tags.length">
  <div class="col-full">
    <tag *ngFor="let tag of parent.value?.tags"
         [tag]="tag.tag"
         [editable]="true"
         (remove)="handleRemove(tag)"></tag>
  </div>
</div>
<search-list *ngIf="userTags"
             [label]="'Custom Tag'"
             [placeholder]="'tag'"
             [parent]="parent"
             [items]="userTags"
             (patch)="patchTags()"
             (add)="handleAdd($event)"
             (hasText)="enableAdd($event)"></search-list>
<search-list *ngIf="styleTags"
             [label]="'Beer Styles'"
             [placeholder]="'style'"
             [parent]="parent"
             [items]="styleTags"
             [allowCustom]="false"
             (patch)="patchTags()"
             (add)="handleAdd($event)"></search-list>
