@import '../../../../styles/variables.scss';

.brew-log-overview {
  overflow: hidden;
  height: 306px;

  &__container {
    transition: margin-top 0.5s;
  }

  &__brew {
    display: block;
    padding: 16px 5px;
    border-top: 1px solid rgba($bf-gray, 0.5);
    color: $white;
    transition: background-color 0.3s;

    &:hover,
    &:focus {
      background-color: rgba($bf-gray, 0.4);
    }
  }

  &__brew-stats {
    color: $bf-yellow;

    span {
      font-size: 12px;
    }
  }
}
