<div class="hops" [formGroup]="parent">
  <div formArrayName="hops">
    <hop
      *ngFor="let item of hops; let i = index"
      [hop]="item.value.hop"
      [index]="i"
      [alphaAcid]="item.value.hopAlphaAcid"
      [time]="item.value.hopTime"
      [amount]="item.value.hopWeight"
      [hopIBUs]="parent.value | getIBUs:'hop'"
      class="row ingredient"
      (click)="handleEdit($event, item.value.hop, item.value.hopWeight, item.value.hopAlphaAcid, item.value.hopTime, i)">
    </hop>
  </div>
</div>
