@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';
@import '../../../../styles/type.scss';
@import '../view-brew/view-brew.component.scss';

.new-brew {
  @extend.view-brew;

  @keyframes rotateGear {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(180deg);
    }
  }

  .container {
    width: 800px;
  }

  .brew-settings-btn {
    position: relative;
    margin-top: 13px;
    padding-left: 23px;
    text-transform: uppercase;

    &::before {
      content: '';
      display: block;
      width: 18px;
      height: 18px;
      position: absolute;
      left: 0;
      top: 1.5px;
      background: url('../../../../assets/images/gear.svg') no-repeat;
      background-size: 18px;
    }

    &:hover,
    &:focus {
      &::before {
        animation-duration: 2s;
        animation-name: rotateGear;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }
  }

  .brew {
    &__title {
      position: relative;
      padding: 0 60px 0 0;

      .edit {
        top: 3px;
      }

      input[type="text"] {
        width: 100%;
        padding: 0;
        outline: 0;
        background: transparent;
        border: 0;
        @extend h1;
      }
    }

    &__details,
    &__ingredients {
      .edit {
        top: -5px;
        right: 14px;
        @include pencil(darken($bf-orange, 15%));
        background-size: 23px;
        background-position: 5px 5px;
        background-color: transparent;

        &:hover,
        &:focus {
          background-color: desaturate(adjust-hue(darken($bf-logo_yellow, 5%), -3%), 5%);
        }
      }

      .row {
        border-top: 1px solid rgba($bf-orange, 0.3);
        
        .edit {
          right: 10px;
        }
      }

      .plus {
        top: 21px;

        &:hover,
        &:focus {
          background-color: rgba($dark-green, 0.1);
        }
      }
    }

    &__details {
      background-color: $bf-logo_yellow;
      color: $dark-green;

      .header {
        color: darken($bf-orange, 15%);
      }

      .row:not(.title) {
        &:hover,
        &:focus {
          background-color: desaturate(adjust-hue(darken($bf-logo_yellow, 5%), -3%), 5%);
          cursor: pointer;
        }
      }
    }

    &__ingredients {
      background-color: $light-yellow;
      color: $black;

      .ingredient-title,
      .header {
        padding-right: 0;
        padding-left: 0;
        color: $bf-green;
      }
    }
  }

  .card-container {
    /deep/ .flip-card {
      .card {
        input,
        textarea,
        select {
          border-color: rgba($bf-orange, 0.3);
          color: $black;

          &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: rgba($bf-orange, 0.5);
          }
          &::-moz-placeholder { /* Firefox 19+ */
            color: rgba($bf-orange, 0.5);
          }
          &:-ms-input-placeholder { /* IE 10+ */
            color: rgba($bf-orange, 0.5);
          }
          &:-moz-placeholder { /* Firefox 18- */
            color: rgba($bf-orange, 0.5);
          }
        }
      
        .checkbox label::after {
          border-color: rgba($bf-orange, 0.3);
        }

        &.details {
          background-color: $bf-logo_yellow;

          input,
          textarea,
          select {
            box-shadow: 0 2px 15px rgba($bf-yellow, 0.4);
            background-color: lighten($light-yellow, 2%);
      
            &:focus {
              background-color: lighten($light-yellow, 15%);
              border-color: $bf-orange;
            }
          }
      
          .checkbox label::after {
            box-shadow: 0 2px 15px rgba($bf-yellow, 0.5);
            background-color: lighten($light-yellow, 2%);
          }
        }
    
        &.ingredients {
          background-color: $light-yellow;

          input,
          textarea,
          select {
            box-shadow: 0 2px 15px rgba($bf-yellow, 0.5);
            background-color: lighten($light-yellow, 10%);
      
            &:focus {
              background-color: lighten($light-yellow, 20%);
              border-color: $bf-orange;
            }
          }
      
          .checkbox label::after {
            box-shadow: 0 2px 15px rgba($bf-yellow, 0.6);
            background-color: rgba(lighten($light-yellow, 10%), 1);
          }
        }
  
        .button {
          color: $yellow;
          background-color: $bf-green;
          box-shadow: 0 2px 15px rgba($bf-yellow, 0.4);
  
          &:hover,
          &:focus {
            background-color: $dark-green;
          }

          &--cancel {
            background-color: $dark-orange;
    
            &:hover,
            &:focus {
              background-color: $bf-gray;
            }
          }

          &[disabled] {
            opacity: 0.75;
    
            &:hover,
            &:focus {
              cursor: auto;
              background-color: $bf-green;
            }
          }
        }

        .row {
          &.header {
            border-bottom: 1px solid rgba($bf-orange, 0.3);
            color: $dark-green;
          }
        }
      }
    }
  }
}

:host /deep/ {
  .ingredient {
    padding: 15px 5px 15px;
    border-top: 1px solid rgba($bf-orange, 0.5);
    transition: background-color 0.3s;

    &:hover,
    &:focus {
      cursor: pointer;
      background-color: $bf-logo_yellow;
    }
  }
}
