<div class="dashboard">
  <main>
    <div class="container" *ngIf="userBrews; else loaderIcon">
      <div class="row">
        <div class="col-full">
          <h1 class="float-left">Brew Log</h1>
          <a class="button button--yellow float-right" (click)=newBrew()>New Brew</a>

          <div class="clearfix"></div>
          <div class="brews">
            <a *ngFor="let brew of userBrews" class="row brews__item" (click)="viewBrew(brew.id)">
              <div class="col-half brew-log__brew-name">
                <span class="brews__item__brew-stats">
                    <span class="sup">#</span>{{ brew.batchNum }}&nbsp;
                </span>
                <span class="brews__item__title">
                  {{ brew.name }}
                  <div class="badges"
                       *ngIf="0 < brew.Badges.edges.length">
                  <badge *ngFor="let badge of brew.Badges.edges"
                         [badgeData]="badge.node"
                         [showBadgeDescription]="false"
                         [miniBadge]="true"></badge>
                  </div>
                </span>
              </div>
              <div class="brews__item__brew-stats">
                <div class="col-eighth float-right ">
                    <span class="stat">{{ brew.createdAt | date:'MM.dd.yy' }}</span>
                </div>
                <div class="float-right">
                  <span class="stat">{{ brew | getABV }}</span> <span class="stat">{{ brew | getIBUs:'total' }}</span> <span class="stat">{{ brew | getSRM }}</span>
                </div>
              </div>
            </a>
          </div>
          <brew-log-pagination
            [brews]="userBrews"
            [pageInfo]="pageInfo"
            [page]="page"
            [results]="results"
            (prevPageEvent)="handlePrevPage($event)"
            (nextPageEvent)="handleNextPage($event)"
            (firstPageEvent)="handleFirstPage()">
          </brew-log-pagination>
        </div>
      </div>
    </div>

    <ng-template #loaderIcon>
      <loader-icon></loader-icon>
    </ng-template>
  </main>
</div>
