@import '../../../../styles/variables.scss';
@import '../../../../styles/type.scss';
@import '../user-dashboard/user-dashboard.component.scss';

.container {
  max-width: 800px;
  left: 50%;
  margin-left: -400px;
  color: $white;
}

.brews {
  position: relative;
  margin-top: 10px;
  background-color: $bf-gray;
  z-index: 1;

  &::after {
    content: '';
    position: absolute;
    display: block;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($bf-orange, 0.3);
  }

  &__item {
    display: block;
    padding: 16px 5px;
    border-top: 1px solid rgba($bf-gray, 0.5);
    color: $white;
    transition: background-color 0.3s;

    &:hover,
    &:focus {
      background-color: rgba($bf-gray, 0.4);
    }

    &__brew-stats {
      color: $bf-yellow;

      span.stat {
        font-size: 12px;
        padding-right: 15px;
      }
    }
  }
}
