<loader [state]="loader"></loader>
<div class="view-brew">
  <main>
    <div class="container"
         [ngClass]="{'make-room': flipCard}"
         *ngIf="currentBrew; else loaderIcon">
      <div class="row">
        <h1 class="brew__title float-left">
          {{ currentBrew?.name }}
          <div class="badges"
               *ngIf="0 < currentBrew?.Badges.edges.length">
            <badge *ngFor="let badge of currentBrew?.Badges.edges"
                   [badgeData]="badge.node"
                   [showBadgeDescription]="false"
                   [miniBadge]="true"></badge>
          </div>
        </h1>
        <span class="float-right right-align brew__meta">
          <span><a class="brew-tag-btn" (click)="flipTheCard('tags')"></a></span>
          <span><a class="brew-settings-btn" (click)="flipTheCard('settings')"></a></span>
          <span>{{ currentBrew?.createdAt | date:'MM.dd.yy' }}</span> <span class="sup">#</span>{{ currentBrew?.batchNum }}
        </span>
      </div>
      <div class="row brew__details tile no-padding">
        <div class="row header--title padding-top" (click)="flipTheCard('settings')">
          <div class="col-third">
            <ng-container *ngIf="newBrewForm.value?.value.brewFormSettings.batchType">
              {{ newBrewForm.value?.value.brewFormSettings.batchType | parseMash }}
            </ng-container>
          </div>
          <div class="col-third">
            <ng-container *ngIf="newBrewForm.value?.value.brewFormSettings.batchSize">
              Batch Size: {{ newBrewForm.value?.value.brewFormSettings.batchSize }} gal
            </ng-container>
          </div>
          <div class="col-third right-align">
            <ng-container *ngIf="newBrewForm.value?.value.brewFormSettings.sysEfficiency">
              System Efficiency: {{ newBrewForm.value?.value.brewFormSettings.sysEfficiency }}%
            </ng-container>
          </div>
        </div>
        <div class="row title">
          <div class="col-quarter header header--no-color">
            {{ newBrewForm.value?.value | getABV }}
          </div>
          <div class="col-quarter header header--no-color">
            {{ newBrewForm.value?.value | getIBUs:'total' }}
          </div>
          <div class="col-quarter header header--no-color">
            {{ newBrewForm.value?.value | getSRM }}
          </div>
          <div class="col-quarter header header--no-color right-align">
            {{ newBrewForm.value?.value | getAttenuation }}
          </div>
        </div>
      </div>
      <div class="row brew__ingredients tile">
        <h2 class="ingredient-title float-left">Fermentables </h2>
        <span class="float-right align-right header" *ngIf="0 < newBrewForm.value?.value.fermentables.length">
          {{ newBrewForm.value?.value | getTotalMalt }}
        </span>
        <a class="plus on-hover" (click)="flipTheCard('fermentables')">+</a>
        <fermentable
          *ngFor="let malt of newBrewForm.value?.value.fermentables; let i = index"
          [malt]="malt.fermentable"
          [amount]="malt.fermentableWeight"
          (click)="editingSelection({fermentable: malt.fermentable, index: i, weight: malt.fermentableWeight})"
          class="row">
        </fermentable>
      </div>
      <div class="row brew__ingredients tile">
        <h2 class="ingredient-title float-left">Hops</h2>
        <span class="float-right align-right header" *ngIf="0 < newBrewForm.value?.value.hops.length">
          {{ newBrewForm.value?.value | getTotalHop }}
        </span>
        <a class="plus on-hover" (click)="flipTheCard('hops')">+</a>
        <hop
          *ngFor="let hop of newBrewForm.value?.value.hops; let i = index"
          [hop]="hop.hop"
          [index]="i"
          [alphaAcid]="hop.hopAlphaAcid"
          [time]="hop.hopTime"
          [amount]="hop.hopWeight"
          [hopIBUs]="newBrewForm.value?.value | getIBUs: 'hop'"
          (click)="editingSelection({hop: hop.hop, index: i, weight: hop.hopWeight, time: hop.hopTime, alpha: hop.hopAlphaAcid})"
          class="row">
        </hop>
      </div>
      <div class="row brew__ingredients tile">
        <h2 class="ingredient-title">Yeast</h2>
        <a class="plus on-hover" (click)="flipTheCard('yeasts')">+</a>
        <yeast
          *ngFor="let yeast of newBrewForm.value?.value.yeasts; let i = index"
          [yeast]="yeast.yeast"
          [amount]="yeast.yeastAmount"
          [package]="yeast.yeastPackage"
          (click)="editingSelection({yeast: yeast.yeast, index: i, amount: yeast.yeastAmount, package: yeast.yeastPackage})"
          class="row">
        </yeast>
      </div>
      <div class="row brew__details tile no-padding">
        <ng-container *ngIf="'extract' !== newBrewForm.value?.value.brewFormSettings.batchType">
          <div class="row title padding-top">
            <div class="col-quarter header">
              MASH
            </div>
            <div class="col-three-quarters header right-align">
              <!-- Batch/Fly  -->
              <a class="edit on-hover" (click)="flipTheCard('mash')"></a>
            </div>
          </div>
          <div class="row" (click)="flipTheCard('mash')">
            <div class="col-quarter">
              <ng-container *ngIf="newBrewForm.value?.value.brewFormAuto.mashWaterVol">
                Struck with {{ newBrewForm.value?.value.brewFormAuto.mashWaterVol }} gal
              </ng-container>
              <ng-container *ngIf="newBrewForm.value?.value.brewFormAuto.strikeTemp">
                at {{ newBrewForm.value?.value.brewFormAuto.strikeTemp }}&deg;&nbsp;F
              </ng-container>
            </div>
            <div class="col-quarter">
              <ng-container *ngIf="newBrewForm.value?.value.brewFormMash.mashTime">
                Mash Length: {{ newBrewForm.value?.value.brewFormMash.mashTime }} min
              </ng-container>
            </div>
            <div class="col-quarter">
              <ng-container *ngIf="newBrewForm.value?.value.brewFormMash.targetMashTemp">
                Mash Temp: {{ newBrewForm.value?.value.brewFormMash.targetMashTemp }}&deg;&nbsp;F
              </ng-container>
            </div>
            <div class="col-quarter">
              <ng-container *ngIf="newBrewForm.value?.value.brewFormAuto.spargeWaterVol">
                Sparged with {{ newBrewForm.value?.value.brewFormAuto.spargeWaterVol }} gal
              </ng-container>
              <ng-container *ngIf="newBrewForm.value?.value.brewFormMash.spargeTemp">
                at {{ newBrewForm.value?.value.brewFormMash.spargeTemp }}&deg;&nbsp;F
              </ng-container>
            </div>
          </div>
        </ng-container>
        <div class="row title">
          <div class="col-quarter header">
            BOIL
          </div>
          <div class="col-three-quarters right-align header">
            <div class="header__info on-hover">
              <ng-container *ngIf="newBrewForm.value?.value.brewFormAuto.preBoilGravity">
                Gravity: {{ newBrewForm.value?.value.brewFormAuto.preBoilGravity }}
              </ng-container>
              <ng-container *ngIf="newBrewForm.value?.value.brewFormAuto.preBoilGravity && newBrewForm.value?.value.brewFormAuto.originalGravity">
                &nbsp;&rarr;&nbsp;
              </ng-container>
              <ng-container *ngIf="newBrewForm.value?.value.brewFormAuto.originalGravity">
                {{ newBrewForm.value?.value.brewFormAuto.originalGravity }}
              </ng-container>
            </div>
            <a class="edit on-hover" (click)="flipTheCard('boil')"></a>
          </div>
        </div>
        <div class="row" (click)="flipTheCard('boil')">
          <div class="col-quarter">
            <ng-container *ngIf="newBrewForm.value?.value.brewFormBoil.boilTime">
              Boil Time: {{ newBrewForm.value?.value.brewFormBoil.boilTime }} min
            </ng-container>
          </div>
          <div class="col-quarter">
            <ng-container *ngIf="newBrewForm.value?.value.brewFormAuto.boilWaterVol">
              Boil Size: {{ newBrewForm.value?.value.brewFormAuto.boilWaterVol }} gal
            </ng-container>
          </div>
        </div>
        <div class="row title">
          <div class="col-quarter header">
            FERMENTATION
          </div>
          <div class="col-three-quarters header right-align">
            <div class="header__info on-hover">
              <ng-container *ngIf="newBrewForm.value?.value.brewFormAuto.originalGravity">
                Gravity: {{ newBrewForm.value?.value.brewFormAuto.originalGravity }}
              </ng-container>
              <ng-container *ngIf="newBrewForm.value?.value.brewFormAuto.originalGravity && newBrewForm.value?.value.brewFormAuto.finalGravity">
                &nbsp;&rarr;&nbsp;
              </ng-container>
              <ng-container *ngIf="newBrewForm.value?.value.brewFormAuto.finalGravity">
                {{ newBrewForm.value?.value.brewFormAuto.finalGravity }}
              </ng-container>
            </div>
            <a class="edit on-hover" (click)="flipTheCard('fermentation')"></a>
          </div>
        </div>
        <div class="row" (click)="flipTheCard('fermentation')">
          <div class="col-quarter">
            <ng-container *ngIf="newBrewForm.value?.value.brewFormFermentation.fermentTime">
              Length: {{ newBrewForm.value?.value.brewFormFermentation.fermentTime }} days
            </ng-container>
          </div>
          <div class="col-quarter">
            <ng-container *ngIf="newBrewForm.value?.value.brewFormFermentation.fermentTemp">
              Temp: {{ newBrewForm.value?.value.brewFormFermentation.fermentTemp }}&deg;&nbsp;F
            </ng-container>
          </div>
          <div class="col-quarter" *ngIf="newBrewForm.value?.value.brewFormFermentation.fermentSecTime">
              2nd Length: {{ newBrewForm.value?.value.brewFormFermentation.fermentSecTime }} days
          </div>
          <div class="col-quarter" *ngIf="newBrewForm.value?.value.brewFormFermentation.fermentSecTemp">
              2nd Temp: {{ newBrewForm.value?.value.brewFormFermentation.fermentSecTemp }}&deg;&nbsp;F
          </div>
        </div>
        <div class="row title">
          <div class="col-quarter header">
            PACKAGING
          </div>
          <div class="col-three-quarters header right-align capitalize">
            <div class="header__info on-hover">
              <ng-container *ngIf="newBrewForm.value?.value.brewFormPackaging.packageType">
                {{ newBrewForm.value?.value.brewFormPackaging.packageType }}
              </ng-container>
              <ng-container *ngIf="newBrewForm.value?.value.brewFormPackaging.packageType && newBrewForm.value?.value.brewFormPackaging.carbonationMethod">
                /
              </ng-container>
              <ng-container *ngIf="newBrewForm.value?.value.brewFormPackaging.carbonationMethod">
                {{ newBrewForm.value?.value.brewFormPackaging.carbonationMethod | ParseCo2Method }}
              </ng-container>
            </div>
            <a class="edit on-hover" (click)="flipTheCard('packaging')"></a>
          </div>
        </div>
        <div class="row" (click)="flipTheCard('packaging')">
          <div class="col-quarter">
            <ng-container *ngIf="newBrewForm.value?.value.brewFormPackaging.co2VolTarget">
              CO2 Vol: {{ newBrewForm.value?.value.brewFormPackaging.co2VolTarget }}
            </ng-container>
          </div>
          <div class="col-quarter">
            <ng-container *ngIf="newBrewForm.value?.value.brewFormPackaging.beerTemp">
              Temperature: {{ newBrewForm.value?.value.brewFormPackaging.beerTemp }}&deg;&nbsp;F
            </ng-container>
          </div>
          <div class="col-quarter">
            <ng-container *ngIf="newBrewForm.value?.value.brewFormPackaging.beerTemp">
              {{ newBrewForm.value?.value | getCo2 }}
            </ng-container>
          </div>
        </div>
        <div class="row title">
          <div class="col-quarter header">
            NOTES
          </div>
          <div class="col-three-quarters header right-align capitalize">
            <a class="edit on-hover" (click)="editNotes()"></a>
          </div>
        </div>
        <div class="row" [formGroup]="newBrewForm.value">
          <div class="col-full">
            <div *ngIf="!editingNotes" (click)="editNotes()" class="pre-wrap">{{ newBrewForm.value?.value.brewFormNotes.notes }}</div>
            <div *ngIf="editingNotes" formGroupName="brewFormNotes">
              <textarea formControlName="notes"
                        rows="1"
                        (keyup)="fitNotesHeight($event)"
                        focus-input
                        fluid-height>
              </textarea>
              <div class="button button--yellow float-right" (click)="closeNotes()">Done</div>
            </div>
          </div>
        </div>
        <div class="row"
             (click)="flipTheCard('tags')"
             *ngIf="0 < newBrewForm.value?.value.tags.length">
          <div class="col-full">
            <tag *ngFor="let tag of newBrewForm.value?.value.tags" [tag]="tag.tag"></tag>
          </div>
        </div>
      </div>
      <div class="center-align">
        <button class="button button--get-brewing" (click)="saveBrew()" [disabled]="newBrewForm.value?.pristine">Update Brew</button>
      </div>
    </div>

    <div class="card-container">
      <flip-card
        *ngIf="flipCard"
        [detail]="editingSection"
        [data]="editingData"
        [parent]="newBrewForm.value"
        [currentBrew]="currentBrew"
        (addTag)="addTag($event)"
        (addIngredient)="addIngredient($event)"
        (editIngredient)="editIngredient($event)"
        (cancelSave)="closeTheCard()"
        (next)="nextCard()"
        (remove)="removeItem($event)"
        (delete)="deleteBrewCheck()"
        [@flipInOut]>
      </flip-card>
    </div>
    <!-- <pre>{{ newBrewForm.value?.value | json }}</pre> -->

    <ng-template #loaderIcon>
      <loader-icon></loader-icon>
    </ng-template>
  </main>
</div>

<modal
[data]="modalData"
*ngIf="showModal"
(close)=closeModal($event)
[@modalPop]></modal>
