<div class="view-brew">
  <main>
    <div class="container" *ngIf="currentBrew; else loaderIcon">
      <div class="row">
        <h1 class="brew__title float-left">{{ currentBrew?.name }}</h1>
        <span class="float-right brew__meta">
          <span>{{ currentBrew?.createdAt | date:'MM.dd.yy' }}</span> #{{ currentBrew?.batchNum }}
        </span>
      </div>
      <div class="row brew__details tile">
        <div class="col-third header--title">{{ currentBrew?.batchType | parseMash }}</div>
        <div class="col-third header--title">Batch Size: {{ currentBrew?.batchSize }} gal</div>
        <div class="col-third header--title right-align">System Efficiency: {{ currentBrew?.batchEfficiency }}%</div>
        <div class="row title">
          <div class="col-quarter header header--no-color">
            {{ abv }}% ABV
          </div>
          <div class="col-quarter header header--no-color">
            {{ totalIBUs | round }} IBU
          </div>
          <div class="col-quarter header header--no-color">
            {{ totalSRM }} SRM
          </div>
          <div class="col-quarter header header--no-color right-align">
            {{ attenuation }}% Attenuation
          </div>
        </div>
      </div>
      <div class="row brew__ingredients tile">
        <h2 class="ingredient-title float-left">Fermentables</h2>
        <span class="float-right align-right header">
          {{ totalMalt | round }} lbs.
        </span>
        <fermentable
          *ngFor="let malt of currentBrew?.maltChoice.edges"
          [malt]="malt.node.malt"
          [amount]="malt.node.amount"
          class="row">
        </fermentable>
      </div>
      <div class="row brew__ingredients tile">
        <h2 class="ingredient-title float-left">Hops</h2>
        <span class="float-right align-right header">
          {{ totalHop | round }} oz.
        </span>
        <hop
          *ngFor="let hop of currentBrew?.hopChoice.edges; let i = index"
          [hop]="hop.node.hop"
          [index]="i"
          [alphaAcid]="hop.node.alphaAcid"
          [time]="hop.node.time"
          [amount]="hop.node.amount"
          [hopIBUs]="hopIBUs"
          class="row">
        </hop>
      </div>
      <div class="row brew__ingredients tile">
        <h2 class="ingredient-title">Yeast</h2>
        <yeast
          *ngFor="let yeast of currentBrew?.yeastChoice.edges"
          [yeast]="yeast.node.yeast"
          [amount]="yeast.node.amount"
          [package]="yeast.node.package"
          class="row">
        </yeast>
      </div>
      <div class="row brew__details tile">
        <div class="col-quarter header header--title">
          MASH
        </div>
        <div class="col-three-quarters header header--title right-align">
          Batch/Fly 
        </div>
        <div class="row">
          <div class="col-quarter">
            Struck with {{ currentBrew?.mashWaterVol }} gal at {{ currentBrew?.strikeTemp }}&deg;&nbsp;F
          </div>
          <div class="col-quarter">
            Mash Length: {{ currentBrew?.mashTime }} min
          </div>
          <div class="col-quarter">
            Mash Temp: {{ currentBrew?.mashTemp }}&deg;&nbsp;F
          </div>
          <div class="col-quarter">
            Sparged with {{ currentBrew?.spargeWaterVol }} gal at {{ currentBrew?.spargeTemp }}&deg;&nbsp;F
          </div>
        </div>
        <div class="row title">
          <div class="col-quarter header">
            BOIL
          </div>
          <div class="col-three-quarters header right-align">
            Gravity: {{ currentBrew?.preBoilGravity }} &rarr; {{ currentBrew?.originalGravity }}
          </div>
        </div>
        <div class="row">
          <div class="col-quarter">
            Boil Time: {{ currentBrew?.boilTime }} min
          </div>
          <div class="col-quarter">
            Boil Size: {{ currentBrew?.boilWaterVol }} gal
          </div>
        </div>
        <div class="row title">
          <div class="col-quarter header">
            FERMENTATION
          </div>
          <div class="col-three-quarters header right-align">
            Gravity: {{ currentBrew?.originalGravity }} &rarr; {{ currentBrew?.finalGravity }}
          </div>
        </div>
        <div class="row">
          <div class="col-quarter">
            Length: {{ currentBrew?.fermentTime }} days
          </div>
          <div class="col-quarter">
            Temp: {{ currentBrew?.fermentTemp }}&deg;&nbsp;F
          </div>
          <div class="col-quarter" *ngIf="currentBrew?.fermentSecTime">
            2nd Length: {{ currentBrew?.fermentSecTime }} days
          </div>
          <div class="col-quarter" *ngIf="currentBrew?.fermentSecTemp">
            2nd Temp: {{ currentBrew?.fermentSecTemp }}&deg;&nbsp;F
          </div>
        </div>
        <div class="row title">
          <div class="col-quarter header">
            PACKAGING
          </div>
          <div class="col-three-quarters header right-align capitalize">
            {{ currentBrew?.packaging }}/{{ currentBrew?.carbonateType }}
          </div>
        </div>
        <div class="row">
          <div class="col-quarter">
            CO2 Vol: {{ currentBrew?.carbonateCo2Vol }}
          </div>
          <div class="col-quarter">
            Temperature: {{ currentBrew?.carbonateTemp }}&deg;&nbsp;F
          </div>
          <div class="col-quarter">
            Pressure: {{ co2 }} psi
          </div>
        </div>
      </div>
    </div>

    <ng-template #loaderIcon>
      <loader-icon></loader-icon>
    </ng-template>
  </main>
</div>
