@import '../../../../styles/variables.scss';
@import '../../../../styles/type.scss';

.view-brew {
  position: relative;
  min-height: calc(100vh - 55px);
  overflow: hidden;

  .container {
    max-width: 800px;
    left: 50%;
    margin-left: -400px;
    transition: margin 0.5s, left 0.5s, width 0.75s;

    &.make-room {
      left: 0;
      margin-left: 30px;
      width: calc(60% - 60px);
      transition: margin 0.5s, left 0.5s width 0.45s;

      @media (min-width: 1434px) {
        left: 58%;
        margin-left: -800px;
      }
    }
  }

  .brew {
    &__title {
      margin-bottom: 20px;
    }

    &__meta {
      margin-top: 13px;
      @extend %subhead;

      span {
        margin-right: 25px;

        &.sup {
          margin-right: 2px;
        }
      }
    }

    &__details,
    &__ingredients {
      .row {
        padding: 15px 5px 15px;
        border-top: 1px solid rgba($bf-gray, 0.5);
        transition: background-color 0.3s;
      }

      .header {
        @extend %subhead;
        font-weight: 200;

        &--no-color {
          color: $white;
        }

        &--title {
          padding: 0 20px 20px;

          &.padding-top {
            padding-top: 20px;
          }
        }
      }
    }

    &__details {
      padding: 20px 0 0;
      background-color: $dark-green;
      color: $white;

      &.no-padding {
        padding: 0;
      }

      .row.title {
        padding: 20px 5px;
      }

      .header {
        color: $bf-yellow;
      }

      .row:not(.title) {
        &:hover,
        &:focus {
          background-color: darken($dark-green, 4%);
          cursor: pointer;
        }
      }
    }

    &__details--single {
      padding: 20px 5px;
    }

    &__ingredients {
      padding: 20px 0 0;
      background-color: $bf-green;
      color: $white;

      .ingredient-title {
        padding: 0 20px 20px;
        color: $bf-logo_yellow;
      }

      .header {
        padding: 10px 20px 0;
        color: $bf-logo_yellow;
      }

      .row {
        &:hover,
        &:focus {
          background-color: darken($bf-green, 5%);
          cursor: pointer;
        }
      }
    }
  }

  .card-container {
    transform-style: preserve-3d;
    perspective: 1000px;
    position: fixed;
    top: 109px;
    right: 30px;
    width: calc(40% - 30px);

    @media (min-width: 1434px) {
      max-width: 543px;
      right: 40%;
      margin-right: -543px;
    }

    /deep/ .flip-card {
      .card {
        input,
        textarea,
        select {
          border-color: rgba($bf-gray, 0.3);
          color: $white;

          &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: rgba($bf-gray, 0.8);
          }
          &::-moz-placeholder { /* Firefox 19+ */
            color: rgba($bf-gray, 0.8);
          }
          &:-ms-input-placeholder { /* IE 10+ */
            color: rgba($bf-gray, 0.8);
          }
          &:-moz-placeholder { /* Firefox 18- */
            color: rgba($bf-gray, 0.8);
          }
        }
      
        .checkbox label::after {
          border-color: rgba($dark-green, 0.3);
        }

        &.details {
          background-color: $dark-green;

          input,
          textarea,
          select {
            box-shadow: 0 2px 15px rgba($bf-gray, 0.4);
            background-color: lighten($bf-green, 2%);
      
            &:focus {
              background-color: lighten($bf-green, 10%);
              border-color: $bf-orange;
            }
          }
      
          .checkbox label::after {
            box-shadow: 0 2px 15px rgba($bf-gray, 0.5);
            background-color: $bf-green;
          }
        }
    
        &.ingredients {
          background-color: $bf-green;

          input,
          textarea,
          select {
            box-shadow: 0 2px 15px rgba($bf-gray, 0.3);
            background-color: lighten($bf-green, 10%);

            &:focus {
              background-color: lighten($bf-green, 15%);
              border-color: $bf-orange;
            }
          }
  
          .checkbox label::after {
            box-shadow: 0 2px 15px rgba($bf-gray, 0.3);
            background-color: lighten($bf-green, 10%);
          }
        }

        .button {
          background-color: $yellow;
          color: $black;
          box-shadow: 0 2px 15px rgba($bf-gray, 0.5);

          &:hover,
          &:focus {
            background-color: darken($yellow, 15%);
          }

          &--cancel {
            background-color: darken($bf-yellow, 8%);
    
            &:hover,
            &:focus {
              background-color: darken($bf-yellow, 15%);
            }
          }
  
          &[disabled] {
            opacity: 0.75;
    
            &:hover,
            &:focus {
              cursor: auto;
              background-color: $yellow;
            }
          }
        }

        .row {
          &.header {
            border-bottom: 1px solid rgba($bf-gray, 0.5);
            color: $yellow;;
          }
        }
      }
    }
  }
}