<div class="view-brew">
  <main>
    <div class="container" *ngIf="currentBrew; else loaderIcon">
      <div class="row">
        <h1 class="brew__title float-left">{{ currentBrew?.name }}</h1>
        <span class="float-right brew__meta">
          <span>{{ currentBrew?.createdAt | date:'MM.dd.yy' }}</span> #{{ currentBrew?.batchNum }}
        </span>
      </div>
      <div class="row brew__details tile">
        <div class="col-third header--title">
          <ng-container *ngIf="currentBrew.batchType">
            {{ currentBrew?.batchType | parseMash }}
          </ng-container>
        </div>
        <div class="col-third header--title">
          <ng-container *ngIf="currentBrew.batchSize">
            Batch Size: {{ currentBrew?.batchSize }} gal
          </ng-container>
        </div>
        <div class="col-third header--title right-align">
          <ng-container *ngIf="currentBrew.batchEfficiency">
            System Efficiency: {{ currentBrew?.batchEfficiency }}%
          </ng-container>
        </div>
        <div class="row title">
          <div class="col-quarter header header--no-color">
            {{ currentBrew | getABV }}
          </div>
          <div class="col-quarter header header--no-color">
            {{ currentBrew | getIBUs:'total' }}
          </div>
          <div class="col-quarter header header--no-color">
            {{ currentBrew | getSRM }}
          </div>
          <div class="col-quarter header header--no-color right-align">
            {{ currentBrew | getAttenuation }}
          </div>
        </div>
      </div>
      <div class="row brew__ingredients tile">
        <h2 class="ingredient-title float-left">Fermentables</h2>
        <span class="float-right align-right header">
          {{ currentBrew | getTotalMalt }}
        </span>
        <fermentable
          *ngFor="let malt of currentBrew?.maltChoice.edges"
          [malt]="malt.node.malt"
          [amount]="malt.node.amount"
          class="row">
        </fermentable>
      </div>
      <div class="row brew__ingredients tile">
        <h2 class="ingredient-title float-left">Hops</h2>
        <span class="float-right align-right header">
          {{ currentBrew | getTotalHop }}
        </span>
        <hop
          *ngFor="let hop of currentBrew?.hopChoice.edges; let i = index"
          [hop]="hop.node.hop"
          [index]="i"
          [alphaAcid]="hop.node.alphaAcid"
          [time]="hop.node.time"
          [amount]="hop.node.amount"
          [hopIBUs]="currentBrew | getIBUs: 'hop'"
          class="row">
        </hop>
      </div>
      <div class="row brew__ingredients tile">
        <h2 class="ingredient-title">Yeast</h2>
        <yeast
          *ngFor="let yeast of currentBrew?.yeastChoice.edges"
          [yeast]="yeast.node.yeast"
          [amount]="yeast.node.amount"
          [package]="yeast.node.package"
          class="row">
        </yeast>
      </div>
      <div class="row brew__details tile">
        <ng-container *ngIf="'extract' !== currentBrew.batchType">
          <div class="col-quarter header header--title">
            MASH
          </div>
          <div class="col-three-quarters header header--title right-align">
            <!-- Batch/Fly  -->
          </div>
          <div class="row">
            <div class="col-quarter">
              <ng-container *ngIf="currentBrew.mashWaterVol">
                Struck with {{ currentBrew?.mashWaterVol }} gal
              </ng-container>
              <ng-container *ngIf="currentBrew.strikeTemp">
                &nbsp;at {{ currentBrew?.strikeTemp }}&deg;&nbsp;F
              </ng-container>
            </div>
            <div class="col-quarter">
              <ng-container *ngIf="currentBrew.mashTime">
                Mash Length: {{ currentBrew?.mashTime }} min
              </ng-container>
            </div>
            <div class="col-quarter">
              <ng-container *ngIf="currentBrew.mashTemp">
                Mash Temp: {{ currentBrew?.mashTemp }}&deg;&nbsp;F
              </ng-container>
            </div>
            <div class="col-quarter">
              <ng-container *ngIf="currentBrew.spargeWaterVol">
                Sparged with {{ currentBrew?.spargeWaterVol }} gal
              </ng-container>
              <ng-container *ngIf="currentBrew.spargeTemp">
                &nbsp;at {{ currentBrew?.spargeTemp }}&deg;&nbsp;F
              </ng-container>
            </div>
          </div>
        </ng-container>
        <div class="row title">
          <div class="col-quarter header">
            BOIL
          </div>
          <div class="col-three-quarters header right-align">
            <ng-container *ngIf="currentBrew.preBoilGravity">
              Gravity: {{ currentBrew?.preBoilGravity }}
            </ng-container>
            <ng-container *ngIf="currentBrew.preBoilGravity && currentBrew.originalGravity">
              &nbsp;&rarr;&nbsp;
            </ng-container>
            <ng-container *ngIf="currentBrew.originalGravity">
              {{ currentBrew?.originalGravity }}
            </ng-container>
          </div>
        </div>
        <div class="row">
          <div class="col-quarter">
            <ng-container *ngIf="currentBrew.boilTime">
              Boil Time: {{ currentBrew?.boilTime }} min
            </ng-container>
          </div>
          <div class="col-quarter">
            <ng-container *ngIf="currentBrew.boilWaterVol">
              Boil Size: {{ currentBrew?.boilWaterVol }} gal
            </ng-container>
          </div>
        </div>
        <div class="row title">
          <div class="col-quarter header">
            FERMENTATION
          </div>
          <div class="col-three-quarters header right-align">
            <ng-container *ngIf="currentBrew.originalGravity">
              Gravity: {{ currentBrew?.originalGravity }}
            </ng-container>
            <ng-container *ngIf="currentBrew.originalGravity && currentBrew.finalGravity">
              &nbsp;&rarr;&nbsp;
            </ng-container>
            <ng-container *ngIf="currentBrew.finalGravity">
              {{ currentBrew?.finalGravity }}
            </ng-container>
          </div>
        </div>
        <div class="row">
          <div class="col-quarter">
            <ng-container *ngIf="currentBrew.fermentTime">
              Length: {{ currentBrew?.fermentTime }} days
            </ng-container>
          </div>
          <div class="col-quarter">
            <ng-container *ngIf="currentBrew.fermentTemp">
              Temp: {{ currentBrew?.fermentTemp }}&deg;&nbsp;F
            </ng-container>
          </div>
          <div class="col-quarter" *ngIf="currentBrew?.fermentSecTime">
              2nd Length: {{ currentBrew?.fermentSecTime }} days
          </div>
          <div class="col-quarter" *ngIf="currentBrew?.fermentSecTemp">
              2nd Temp: {{ currentBrew?.fermentSecTemp }}&deg;&nbsp;F
          </div>
        </div>
        <div class="row title">
          <div class="col-quarter header">
            PACKAGING
          </div>
          <div class="col-three-quarters header right-align capitalize">
            <ng-container *ngIf="currentBrew.packaging">
              {{ currentBrew?.packaging }}
            </ng-container>
            <ng-container *ngIf="currentBrew.packaging && currentBrew.carbonateType">
              /
            </ng-container>
            <ng-container *ngIf="currentBrew.carbonateType">
              {{ currentBrew?.carbonateType }}
            </ng-container>
          </div>
        </div>
        <div class="row">
          <div class="col-quarter">
            <ng-container *ngIf="currentBrew.carbonateCo2Vol">
              CO2 Vol: {{ currentBrew?.carbonateCo2Vol }}
            </ng-container>
          </div>
          <div class="col-quarter">
            <ng-container *ngIf="currentBrew.carbonateTemp">
              Temperature: {{ currentBrew?.carbonateTemp }}&deg;&nbsp;F
            </ng-container>
          </div>
          <div class="col-quarter">
            <ng-container *ngIf="currentBrew.carbonateTemp">
              {{ currentBrew | getCo2 }}
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <ng-template #loaderIcon>
      <loader-icon></loader-icon>
    </ng-template>
  </main>
</div>
