// Global Colors
$bf_gray:         #2B2B2B;
$bf_yellow:       #ebaf3c;
$bf_logo_yellow:  #ffde52;
$bf_orange:       #e9662c;
$white:           #fff;
$black:           #191919;

// Dashboard Colors
$dark_orange:     #58382a;