// Global Colors
$bf-gray:         #2b2b2b;
$bf-yellow:       #ebaf3c;
$bf-logo_yellow:  #ffde52;
$bf-orange:       #e9662c;
$bluegreen:       #16a085;
$yellow:          #f4d03f;
$white:           #fff;
$black:           #191919;

// Dashboard Colors
$dark-orange:     #58382a;