<div [formGroup]="parent">
  <div formGroupName="brewFormMash">
    <p><label>Target Temperature (°F)<br>
      <input type="number" formControlName="targetMashTemp" placeholder="150"></label></p>
    <div class="col-half float-left grid-padding no-left-p">
      <p><label>Water to Grain Ratio (qts)<br>
        <input type="number" step="0.1" formControlName="waterToGrain" placeholder="1.5"></label></p>
    </div>
    <div class="col-half float-left grid-padding no-right-p">
      <p><label>Initial grain Temperature (°F)<br>
        <input type="number" formControlName="initialGrainTemp" placeholder="70"></label></p>
    </div>
    <div class="col-half float-left grid-padding no-left-p">
      <p><label>Mash Time (min)<br>
        <input type="number" formControlName="mashTime" placeholder="60"></label></p>
    </div>
    <div class="col-half float-left grid-padding no-right-p">
      <p><label>Sparge Temperature (°F)<br>
        <input type="number" formControlName="spargeTemp" placeholder="168"></label></p>
    </div>
  </div>
</div>
