@import "../../../styles/variables.scss";
@import "../../../styles/type.scss";

:host {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 500px;
  z-index: 2;
}

.modal {
  padding-bottom: 80px;
  background-color: $light-yellow;
  box-shadow: 0 10px 50px darken($bf-orange, 10%);
  z-index: 2;

  &__header {
    padding: 15px;
    border-bottom: 1px solid rgba($bf-orange, 0.3);
    
    h2 {
      text-align: center;
      text-transform: none;
      letter-spacing: -1px;
      color: $bf-green;
    }
  }

  &__body {
    padding: 15px;
  }

  &__footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 15px;
    border-top: 1px solid rgba($bf-orange, 0.3);
    text-align: center;
  }
}