@import "../../../styles/variables.scss";

:host {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 500px;
  z-index: 2;
}

.modal {
  padding-bottom: 80px;
  background-color: $light-yellow;
  box-shadow: 0 10px 50px darken($bf-orange, 10%);
  z-index: 2;
  margin-top: 0;
  padding-top: 0;
  transition: margin-top 0.4s ease-in-out, padding-top 0.4s ease-in-out;

  &.badge-space {
    margin-top: 100px;
    padding-top: 20px;
  }

  &__badges {
    display: flex;
    position: absolute;
    top: -1px;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
  }

  &__header {
    padding: 15px;
    border-bottom: 1px solid rgba($bf-orange, 0.3);

    h2 {
      text-align: center;
      text-transform: none;
      letter-spacing: -1px;
      color: $bf-green;
    }
  }

  &__body {
    padding: 15px;
  }

  &__footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 15px;
    border-top: 1px solid rgba($bf-orange, 0.3);
    text-align: center;
  }
}
