<header>
  <div class="logo" (click)="viewDashboard()"></div>

  <div class="profile-pic" *ngIf="!dashboard && !login">
    <a (click)="viewDashboard()" title="{{ currentUser?.username }}">
      <div class="profile-pic__image"
           [ngStyle]="{'background-image': 'url(' + profilePicUrl + ')'}"
           [title]="currentUser?.firstName + ' ' + currentUser?.lastName"></div>
    </a>
  </div>
  <div class="log-out" *ngIf="dashboard">
    <a class="button button--ghost" (click)="logOut()">Log Out</a>
  </div>
</header>
<div [ngClass]="newBodyClass" class="newBackground">
  <div class="router"
      [@routeFades]="getPage(o)">
    <router-outlet #o="outlet"></router-outlet>
  </div>
  <div [ngClass]="oldBodyClass" class="oldBackground"></div>
</div>
<footer>
  &copy; Copyright {{ year }} - BeerForge
</footer>
