<div [formGroup]="parent">
  <div formGroupName="brewFormHops">
    <p><label>Hop<br>
      <select formControlName="hop" [(ngModel)]="selectedHopId">
        <option value="0">Choose Hop</option>
        <option
          *ngFor="let hop of hops"
          [value]="hop.node.id">
          {{ hop.node.name }}
        </option>
      </select></label></p>
    <div class="row">
      <div class="col-half float-left grid-padding no-left-p">
        <p><label>Alpha Acid<br>
          <input type="number" step="0.01" formControlName="hopAlphaAcid" placeholder="0" [(ngModel)]="selectedHopAlpha"></label></p>
      </div>
      <div class="col-half float-left grid-padding no-right-p">
        <p><label>Length in Boil<br>
          <input type="number" step="1" formControlName="hopTime" placeholder="0" [(ngModel)]="selectedHopTime"></label></p>
      </div>
    </div>
    <p><label>Weight (oz.)<br>
      <input type="number" step="0.01" formControlName="hopWeight" placeholder="0" [(ngModel)]="selectedHopWeight"></label></p>
  </div>
</div>
