<div [formGroup]="parent">
  <div formGroupName="brewFormSettings">
    <p><label>Batch Type<br>
      <select formControlName="batchType" [(ngModel)]="batchType">
        <option value="" disabled>Choose One</option>
        <option
          *ngFor="let type of batchTypes"
          [value]="type.value">
          {{ type.name }}
        </option>
      </select></label></p>
    <p><label>Batch Size (gal)<br>
      <input type="number" formControlName="batchSize" placeholder="6"></label></p>
    <p><label>System Efficiency (%)<br>
      <input type="number" formControlName="sysEfficiency" placeholder="75"></label></p>
    <p *ngIf="null !== view">
      <button class="button button--large button--warning" (click)="delete()">Delete Brew</button></p>
  </div>
</div>
