<ng-container *ngIf="pages; else nextPrev">
  <a *ngFor="let page of pages | fill; let i = index" class="pagination" [class.current]="(i+1)==currentPage" (click)="getPage(i+1)">{{i+1}}</a>
</ng-container>

<ng-template #nextPrev>
  <div class="prev-next">
    <button (click)="prevPage(brews[0].id)" class="button button--yellow" [disabled]="page === 1"><span>&laquo;</span> Prev</button>
    <button (click)="nextPage(brews[brews.length-1].id)" class="button button--yellow" [disabled]="!pageInfo.hasNextPage && !pageInfo.hasPreviousPage">Next <span>&raquo;</span></button>
  </div>
</ng-template>
