@import './styles/normalize.scss';
@import './styles/variables.scss';
@import './styles/mixins.scss';
@import './styles/type.scss';
@import './styles/grid.scss';
@import './styles/forms.scss';

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: $black;
}

div {
  box-sizing: border-box;
}

main {
  padding: 50px 0 100px;
}

.pre-wrap {
  white-space: pre-wrap;
}

.float-right {
  float: right !important;
  margin-right: 0 !important;
}

.float-left {
  float: left !important;
}

.clearfix {
  &::after {
    content: '';
    position: relative;
    display: block;
    clear: both;
  }
}

.right-align {
  text-align: right;
}

.center-align {
  margin: 0 auto;
  text-align: center;
}

.no-top-padding {
  padding-top: 0 !important;
}

.capitalize {
  text-transform: capitalize;
}

.profile-pic {
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid $bf-yellow;
  box-shadow: 0 4px 20px $bf-gray;

  &__image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.tile {
  margin-bottom: 10px;
}

.button {
  display: inline-block;
  border: 0;
  padding: 7px 15px;
  outline: 0;
  background-color: $bf-orange;
  border-radius: 3px;
  color: $yellow;
  font-weight: 200;
  transition: background-color 0.3s, color 0.3s;

  &:hover,
  &:focus {
    background-color: $dark-orange;
    cursor: pointer;
  }

  &--cancel {
    background-color: $bf-orange;
  }

  &--warning {
    background-color: $bf-orange;
  }

  &--green {
    background-color: $bf-green;

    &:hover,
    &:focus {
      background-color: $dark-green;
    }
  }

  &--yellow {
    background-color: $bf-yellow;
    color: $black;

    &:hover,
    &:focus {
      background-color: $bf-orange;
    }
  }

  &--large {
    padding: 16px 25px;
    margin-right: 5px;
    text-transform: uppercase;
  }

  &--wide {
    min-width: 200px;
    padding: 16px 20px;
    margin-right: 5px;
    text-transform: uppercase;
  }

  &--ghost,
  &--ghost-green {
    border-radius: 4px;
    border: 1px solid $bf-orange;
    background-color: transparent;
    text-transform: uppercase;
    color: $white;
    transition: background-color 0.3s;

    &:hover,
    &:focus {
      background-color: $bf-orange;
    }
  }

  &--ghost-green {
    border: 1px solid $bf-green;
    color: $bf-green;

    &:hover,
    &:focus {
      background-color: $bf-green;
      color: $white;
    }
  }

  &--get-brewing {
    padding: 15px 30px;
    background: $bf-gray;
    border-radius: 3px;
    text-transform: uppercase;
    color: $yellow;
    @extend %h2;
    font-style: italic;
    transition: background 0.5s;

    &:hover,
    &:focus {
      background: $dark-green;
    }
  }

  &--white-text {
    color: $white;
  }
}

.edit {
  position: absolute;
  display: block;
  right: 17px;
  top: 0;
  width: 23px;
  height: 23px;
  padding: 5px;
  border-radius: 3px;
  @include pencil(darken($bf-gray, 15%));
  background-size: 23px;
  background-position: 5px 5px;
  background-color: transparent;
  transition: background-color 0.3s;

  &:hover,
  &:focus {
    background-color: rgba($dark-orange, 0.1);
  }
}

.plus {
  position: absolute;
  display: block;
  top: 7px;
  right: 15px;
  padding: 0;
  width: 31px;
  height: 31px;
  border-radius: 3px;
  background-color: transparent;
  box-sizing: border-box;
  font-style: normal;
  font-size: 51px;
  font-weight: 100;
  line-height: 0.65;
  text-align: center;
  vertical-align: top;
  transition: transform 0.5s, background-color 0.3s;
}
