@import './styles/variables.scss';
@import './styles/type.scss';
@import './styles/grid.scss';

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

div {
  box-sizing: border-box;
}

main {
  padding: 50px 0 100px;
}

.right-align {
  text-align: right;
}

.profile-pic {
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid $bf-yellow;
  box-shadow: 0 4px 20px $bf-gray;

  img {
    max-width: 100%;
    height: auto;
  }
}

.tile {
  margin-bottom: 10px;
}

.button {
  display: inline-block;
  padding: 7px 15px;
  color: $white;
  font-weight: 200;

  &--ghost {
    border-radius: 4px;
    border: 1px solid $bf-orange;
    text-transform: uppercase;
    transition: background-color 0.3s;

    &:hover,
    &:focus {
      background-color: $bf-orange;
    }
  }
}
