<div class="dashboard">
  <main>
    <div class="container" *ngIf="currentUser; else loaderIcon">
      <div class="row">
        <div class="col-half">
          <user-overview
            [user]="currentUser"
            [userBrews]="userBrews">
          </user-overview>
        </div>
        <div class="col-half">
          <a class="new-brew-button tile" (click)="handleBrew($event)"><h2>New Brew</h2> <span class="plus">+</span></a>
          <div class="brew-log-overview tile">
            <h3>Brew Log</h3>
            <brew-log-overview
              [brews]="userBrews"
              [page]="currentPage"
              (view)="handleView($event)"
              (brewLog)="handleBrewLog()">
            </brew-log-overview>
            <div class="brew-log-overview__footer clearfix">
              <brew-log-pagination *ngIf="pages"
                [pages]="pages"
                [page]="currentPage"
                (getPageEvent)="handleGetPage($event)">
              </brew-log-pagination>
              <a class="button button--yellow button--large float-right" (click)="handleBrewLog()">All Brews</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-template #loaderIcon>
      <loader-icon></loader-icon>
    </ng-template>
  </main>
</div>
